html(lang='en')
  include mixins/head
  +head
    title Pet Dashboard
  body
    include mixins/nav
    +nav
    main.container.pt-3
      h2.text-center= 'Owners'
      include mixins/dashboard
      +dashboard(data)
    include mixins/searchResults
    +searchResults
  include mixins/scripts
  +scripts
