html(lang='en')
  include mixins/head
  +head
    title Pet Dashboard - #{data.name}
  body
    include mixins/nav
    +nav
    main.container-sm.gx-0
      .card.text-center
        .card-body
          h3.card-text= data.name
          if data.pets
            .list-group.row-cols-1.row-cols-md-2.row-cols-lg-3.align-items-center
              each pet of data.pets
                .list-group-item.light-hover
                  a.text-decoration-none.link-primary.stretched-link.fs-4(
                    href=`/pets/${pet.id}`
                  )= pet.name
                  p= pet.type.charAt(0).toUpperCase() + pet.type.slice(1)
    include mixins/searchResults
    +searchResults
  include mixins/scripts
  +scripts
